.header {
  background-color: #64b5f6;
  padding: 10px;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    background-color: #bbdefb;

    .btn {
      background-color: #29b6f6;
      transition: 0.15s ease-out;
      margin: 0 10px;

      &.active{
        pointer-events: none;
        filter: saturate(0.25);
      }

      i.material-icons {
        font-size: 2.5rem !important;
      }

      &:hover {
        filter: brightness(0.95);
      }
    }
  }

  h1 {
    margin: 10px 0;
    font-family: "Fredericka the Great", cursive;
    text-align: center;
  }
}
