@import '../shared/z-depth.scss';

$border: 1px solid #ccc;
$shadow-color: rgba(0, 0, 0, 0.8);

@keyframes card-spawn{
  0%{
    opacity: 0;
    transform: scale(0.9);
  }
  50%{
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  height: 230px;
  background-color: aquamarine;
  border: $border;

  // animation: card-spawn 1s ease-out;
  // animation-fill-mode: both;

  @include z-depth-3;

  &:hover {
    filter: brightness(1.05);
    @include z-depth-4;
  }

  .card-image {

    box-sizing: border-box;
    max-height: 100%;
    width: 150px;

    border-right: $border;
  }

  .card-content {
    background-color: antiquewhite;
    padding-top: 2.2em;
    padding-bottom: 0.8em;
    position: relative;

    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.authors {
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 35px);
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 10px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.title {
  padding: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-size: 1.1em;
  font-weight: bold;

  text-align: center;
}

:host .waves-ripple {
  z-index: 100;
  position: absolute;
}


.description {
  flex-basis: 100px;
  flex-grow: 1;
  overflow: hidden;

  text-align: justify;

  color: #444;
}

.rating {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;

  justify-content: center;
  // flex-grow: 1;
  align-items: flex-end;
}


.modal {
  .title{
    font-size: 1.25em;
    padding: 0.5em;
  }

  .modal-content {
    position: relative;
    padding-top: calc(24px + 1em);
  }

  .info{
    position: relative;
    display: flex;
    flex-direction: row;
    // padding-top: 1.5em;

    .details {
      padding: 5px 5px 10px;
    }

    .cover {
      height: 300px;
      width: 200px;

      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  background-color: antiquewhite;
  height: 100%;
  width: 100%;

  app-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
      position: absolute;
      bottom: 10px;

      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    span {
      padding: 3px 10px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      border: 1px solid white;
      color: white;
    }
  }
}
