@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.thumbnail {
  flex-basis: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 200px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-family: Roboto, sans-serif;

}
