<div class="header">
  <h1>ERIPHID'S BOOK STORE</h1>
  <nav>
    <a class="btn btn-large waves-effect" [routerLink]="['/']" routerLinkActive="active" >
      <i class="material-icons large">
        search
      </i>
    </a>
    <a class="btn btn-large waves-effect" [routerLink]="['/cart']" routerLinkActive="active" >
      <i class="material-icons large">
        shopping_basket
      </i>
    </a>
  </nav>
</div>

<app-search-input #input label="Search a book" [(value)]="state.input" (search)="onSearch($event.keywords)"></app-search-input>

<app-book-collection #bookCollection [books]="state.books"></app-book-collection>

<app-loading-overlay @fade *ngIf="loading"></app-loading-overlay>

<app-pagination min="1" max="10" [active]="state.page" (pageChange)="onPageChange($event)"></app-pagination>

