@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap");

h1{
  font-family: "Fredericka the Great", cursive;
  text-align: center;
}

app-loading-overlay{
  position: fixed;
}

main{
  padding: 0 80px;
}
