<main class="container">
  <h1>Book Shop</h1>


  <!-- <div class="input-field">
    <input type="text" id="searchQuery" [(ngModel)]="searchQuery" (keydown.enter)="search()" />
    <label for="searchQuery">Search a book</label>
  </div> -->

  <app-search-input label="Search a book" (search)="search($event.keywords)"></app-search-input>

  <div class="book-collection">
    <ng-container *ngFor="let book of books">
      <app-book *ngIf="book.saleability!=='NOT_FOR_SALE'" [book]="book" [thumbnailSize]="'thumbnail'"></app-book>
    </ng-container>

  </div>
  <router-outlet></router-outlet>
</main>
