<main class="container">
  <h1>Book Shop</h1>


  <!-- <div class="input-field">
    <input type="text" id="searchQuery" [(ngModel)]="searchQuery" (keydown.enter)="search()" />
    <label for="searchQuery">Search a book</label>
  </div> -->

  <app-search-input label="Search a book" (search)="search($event.keywords)"></app-search-input>

  <app-book-collection #bookCollection [books]="books"></app-book-collection>
  <router-outlet></router-outlet>

  <app-loading-overlay @fadeNoTransform *ngIf="loading"></app-loading-overlay>
</main>
