@import '../../shared/z-depth.scss';
@import '../style.scss';

$border: 1px solid #ccc;
$shadow-color: rgba(0, 0, 0, 0.8);


@keyframes card-spawn{
  0%{
    opacity: 0;
    transform: scale(0.9);
  }
  50%{
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  height: 230px;
  background-color: aquamarine;
  border: $border;

  // animation: card-spawn 1s ease-out;
  // animation-fill-mode: both;

  @include z-depth-3;

  &:hover, &:focus {
    filter: brightness(1.05);
    @include z-depth-4;
    outline: none;
  }

  .card-image {

    box-sizing: border-box;
    max-height: 100%;
    width: 150px;

    border-right: $border;
  }

  .card-content {
    background-color: antiquewhite;
    padding-top: 2.2em;
    padding-bottom: 0.8em;
    position: relative;

    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

:host .waves-ripple {
  z-index: 100;
  position: absolute;
}

.buttons{
  text-align: right;
  i{
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.1s;
    &:hover{
      background-color: gray;
    }
  }
}

:not(:hover) .buttons {
  i {
    opacity: 0;
  }
}
