
  <div class="title">{{book?.title}}</div>
  <div class="modal-content">
    <span *ngIf="book?.authors" class="authors">
      by {{book?.authors?.join(", ")}}
    </span>
    <div class="info">
      <div class="cover">
        <div>
          <app-image #image [src]="book?.thumbnails.get('small', 'closest') || ''" alt="thumbnail"></app-image>
          <div *ngIf="image.available && book?.saleability !== 'NOT_FOR_SALE'">
            <span [ngSwitch]="book?.saleability">
              <ng-container *ngSwitchCase="'FOR_SALE'">
                {{ book.price.amount }}{{ book.price.currencyCode === "EUR" ? "€" : "$" }}
              </ng-container>
              <ng-container *ngSwitchCase="'FREE'">
                FREE
              </ng-container>
            </span>
          </div>
        </div>
      </div>
      <div class="details">
        ISBN {{book.identifiers.get("ISBN_13")}}<br>
        Genre: {{book.genre}}
      </div>
    </div>
  </div>
