/* You can add global styles to this file, and also import other style files */
// @import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
@import 'materialize-css/sass/materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

app-book .waves-effect .waves-ripple{
  z-index: 1;
}
main{
  overflow: auto;
  max-height: 100vh;
  padding: 0 100px;
}
