:host {
  display: grid;
  // grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 550px));
  grid-column-gap: 30px;
  grid-row-gap: 10px;

  padding: 10px;
  justify-content: center;
}
